:root {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  scroll-behavior: smooth;
}

#pokebattle {
  background-color: chocolate;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

#form-search-pokemons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.pokemon-selector,
.pokemon-battle-card {
  min-width: 230px;
  margin: 2rem;
  padding: 1.5rem;
  background-color: bisque;
  border-radius: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

form label {
  display: block;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.pokemon-selector select,
#battle-attribute {
  width: 100%;
  font-size: 1.3rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
}

.pokemon-card {
  margin-bottom: 2rem;
  display: none;
  flex-flow: column nowrap;
}

.pokemon-card .images,
.pokemon-battle-card .images {
  margin-top: 0.75rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.pokemon-card figure,
.pokemon-battle-card figure {
  display: none;
  width: 100%;
  max-width: 140px;
  padding: 0.2rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.pokemon-card img,
.pokemon-battle-card img {
  width: 100%;
  max-width: 140px;
  transition: all 0.5s;
}

.pokemon-card img:hover,
.pokemon-battle-card img:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}

.pokemon-card .attributes,
.pokemon-battle-card .attributes {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.pokemon-card .attributes-names,
.pokemon-battle-card .attributes-names {
  font-weight: bold;
}

.pokemon-card .attributes p,
.pokemon-battle-card .attributes p {
  margin-top: 1.5rem;
}

#pokebattle footer {
  visibility: hidden;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

footer a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 2.5rem;
  text-align: center;
  transition: all 0.5s;
  user-select: none;
}

footer a:hover {
  cursor: pointer;
}

footer a:active {
  transform: scale(0.9);
  transition: all 0.1s;
}

footer i {
  font-size: 2rem;
}

#results {
  display: none;
  min-height: 100vh;
  background-color: cornflowerblue;
  flex-flow: column nowrap;
  justify-content: space-around;
}

h2 {
  text-align: center;
  font-size: 3rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.battle-selector {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#battle-attribute {
  width: auto;
}

.battle-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.pokemon-battle-card-info {
  display: flex;
  flex-flow: column nowrap;
}

.pokemon-battle-card-info p {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.pokemon-battle-card-info .pokemon-name {
  font-size: 1.75rem;
}

#results footer {
  padding-bottom: 4rem;
}

.winner {
  background-color: rgb(155, 255, 56);
}

.loser {
  background-color: darkred;
  color: #fff;
}
